{% extends 'base.html.twig' %}

{% block title %}Salle ...{% endblock %}

{% block body %}
<style>
    .conteneur1{
        justify-items: center;
        align-content: center;

    }

    section{
        display: flex;
        flex-direction: column;
        background-color: rgba(22, 138, 173, 0.5);
        border-radius: 10px;
        padding: 20px 50px 20px 50px;
        margin: 50px;
        width: 80%;
        align-items: center;


    }
    button{
        background-color: rgba(217, 217, 217, 1);
        max-width: 30%;
        border: none;
        border-radius: 5px;
        padding: 0.5rem;
        margin: 1rem;
    }
</style>

<div class="conteneur1">
    <h1>Salle ...</h1>

    <section class="sectionEdit">
        <p>Modifier les informations de la salle ...</p>
        <Button>modifier</Button>
        <p>Vous pouvez supprimer la salle ...</p>
        <button>supprimer</button>
    </section>
    <section>
        <p>Aucun SA n'est installé dans la salle D301.
            Pour installer un système d'acquisition, cliquer sur le bouton ci-dessous :</p>
        <button>installer un SA</button>
    </section>
</div>
{% endblock %}
