
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###


Kolan Le Plus belle Homme de France, je suis amoureux de lui <3, je l'aime de tout mon coeur.
je suis l'etre supreme qui a creez les Hommes avec des gros bazouzouzou et des grosses fesses rebondies