{% extends 'base.html.twig' %}

{% block title %}Hello PageDeLiensController!{% endblock %}

{% block body %}


<h1>Page d'accueil temporaire</h1>

<p>
    Cette page est purement temporaire. Elle permet de préparer les redirections du header pour son utilisation future dans la prochaine release.
</p>
{% endblock %}
